* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: #fff;
    line-height: 1.6;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10 px);
    z-index: 1000;
}

nav h1 {
    color: #ff004f;
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ff004f;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 40px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h2 {
    font-size: 20px;
}

.hero-content span {
    color: #ff004f;
}

.hero-content p {
    font-size: 22px;
    margin: 20px 0;
}

.hero-img img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ff004f;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.hero button {
    background: #ff004f;
    color: white;
    padding: 12px 25px;
    border: none;
    margin-top: 60px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}

.hero button:hover {
    background: white;
    color: #ff004f;
}


section {
    padding: 80px 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    min-height: 89vh;
}

.skill-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
}

.skill-card.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: #ff004f;

}

.skill-card h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.progress {
    background: #222;
    border-radius: 20px;
    overflow: hidden;
    height: 18px;
    margin-top: 10px;
}

.progress-bar {
    background: linear-gradient(90deg, #ff004f, #ff7b7b);
    height: 100%;
    color: #fff;
    text-align: right;
    padding-right: 8px;
    line-height: 18px;
    border-radius: 20px;
    width: 0;
    transition: width 1.5s ease-in-out;
    font-size: 0.8rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px 60px;

}

.project-card {
    background: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;

}

.project-card h3 {
    padding: 15px;
    font-size: 20px;
    color: white;
}

.project-card:hover {
    transform: scale(1.03);
    background-color: #ff004f;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    padding: 15px;
}

.contact {
    text-align: center;
    min-height: 87vh;
}

.contact a {
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 50px;
    margin: 0 25px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #ff004f;
    transform: scale(1.2);

}

.education-container h1 {
    font-size: 37px;
    color: #ff004f;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #ff004f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    padding: 20px;
    position: relative;
    background: #1a1a1a;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 30px;
    transition: 0.3s;
}

.timeline-item:hover {
    background: #ff004f;
    transform: translateY(-5px);
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 55%;
}

.timeline-icon {
    position: absolute;
    top: 20px;
    left: -20px;
    background: #ff004f;
    color: white;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-content h2 {
    margin-bottom: 5px;
}

.timeline-content span {
    font-size: 14px;
    color: #ccc;
}

.timeline-content p {
    margin-top: 5px;
    color: #eee;
}

.coming-soon {
    text-align: center;
    margin-top: 130px;

}

.coming-soon h1 {
    font-size: 3rem;
    color: #ff004f;
    margin-bottom: 15px;
}

.comsoon {
    min-height: 87.6vh;
}

.coming-soon p {
    font-size: 1.2rem;
    color: #dcdcdc;
    margin-bottom: 30px;
}

.loader {
    border: 5px solid #fe18c54d;
    border-top: 5px solid #ff004f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    display: flex;
    flex-direction: column;
    background: #0d0d0d;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.6;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 40px;
    }
}

@media (max-width: 992px) {
    .timeline-item {
        width: 100%;
        left: 0 !important;
    }

    .timeline::after {
        left: 20px;
    }

    .timeline-icon {
        left: -3px;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
        padding: 25px 40px;
    }

    .project-card h3 {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
    }

    .menu-toggle {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        width: 45%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 25px 0;
        border-radius: 0 0 0 12px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li a:hover {
        color: #ff004f;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 120px;
    }

    .skills-grid {
        padding: 20px;
    }

    .projects {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .timeline-item {
        padding-left: 55px;
    }
}

@media (max-width: 480px) {

    nav ul {
        width: 45%;
        top: 65px;
        border-radius: 0;
    }

    nav h1 {
        font-size: 22px;
    }

    nav ul li a:hover {
        color: #ff004f;
    }

    .hero-img img {
        width: 200px;
        height: 200px;
    }

    .hero button {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 30px;
    }

    .project-card img {
        height: 160px;
    }

    .social-icons a {
        font-size: 38px;
        margin: 0 15px;
    }

}